---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  check:
    desc: Check for linting/formatting errors
    silent: true
    cmds:
      - yamllint --strict .
      - yamlfmt -lint .

  fix:
    desc: Fix linting/formatting errors
    silent: true
    cmds:
      - yamlfmt .
